.initialContainer {
  position: absolute;
  top: 0;
  left: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;

  h5 {
    opacity: 1;
    animation: disappear 0.35s ease-out forwards;
  }

  animation: slideOut 1s ease-in-out forwards;
}

.hoveredContainer {
  left: 0;

  h5 {
    opacity: 0;
    animation: reveal 0.5s ease-in-out 0.35s forwards;
  }

  animation: slideIn 1s ease-in-out forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}